//Please edit this file only inside the "". Else the programm probably won't be able to operate properly.
//Note, that Spotify Premium account is needed for this app.

//To get the information below go to https://developer.spotify.com/ login to your account, go to "Dashboard" and click on "Create app".
//Choose a App name, and put in the "Redirect URI" and write something into the descriton. The RedirectUri can look like that: http://localhost:5000/callback/ . 
//Check the "Web API" below and confirm Terms of Service and "Save" the app.
//Now go on "Settings" and click "View client secret". Copy and paste the ID and Secret to below settings, same as the "Redirect URI".


ClientID = ""
CLientSecret = ""
RedirectUri = "http://localhost:5000/callback/"